<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <p class="small light">This service is created as study project for course: CT30A8904 - Software Systems as a Service: Technology and Engineering</p>
        </div>
    </div>

</div>