<!DOCTYPE html>
<html lang="<% if (typeof languagecode != "undefined") { %><%= languagecode %><% } %>">
<head>
	<meta charset="UTF-8">
	
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	
  <link rel="icon" href="/logo.png">
  <title>Node.js app</title>
  
  <link rel="canonical" href="<%= canonicalurl %>">

  <% include ./css %>
  
  <% include ./javascript %>
  
</head>
<body>
	<% include ./header %>
	
	<hr>
	
	<div class="center">
		<% include ./navigationbar %>
		
		<% include ./message %>
		
		<div id="loadingcontent">
			<%- body -%>
		</div>
	</div>
	<hr>
	
	<% include ./qr %>	
	<hr>
	
	<% include ./footer %>
	
	
	<% if (wip || false) { %>
		<% include ./wip %>
	<% } %>
	
	<% if (wip || true) { %>
		<% include ./ifb %>
	<% } %>
	

</body>
</html>
