<% layout('layout') -%>
<div id="content">
	<div class="container">

		<% if (result=="error") { %>
			<h1 class="title" style="color: red;">
		<% } else if (result=="success") { %>
			<h1 class="title" style="color: green;">
		<% } else { %>
			<h1 class="title" style="color: blue;">
		<% } %><%= content %></h1>

		
		<% if (typeof closable!="undefined" && closable) { %>
			<button class="btn col-xs-12 pull-right" id="closebutton" role="button" onclick="window.close();" class="btn btn-simple" autofocus>###close###</button>
		<% } %>
		
	  <!--Put Your content here -->
	</div>
</div>