<!-- show any messages that come back with authentication -->
<!-- message -->
<div class="container">
	<% if (typeof errors != 'undefined') { %>
		<% if (errors.length > 0) { %>
			  <div class="alert alert-danger alert-dismissible vertical-spacing">
				<button onclick="$(this).parent().hide();" type="button" class="close" data-dismmiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<%- errors %>
			</div>
		<% } %>
	<% } %>
	<% if (typeof message != 'undefined') { %>
		<% if (message.length > 0) { %>
			<div class="alert alert-success alert-dismissible vertical-spacing">
			  <button onclick="$(this).parent().hide();" type="button" class="close" data-dismmiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
			  <%- message %>
			</div>
		<% } %>
	<% } %>
</div>