<!-- show any messages that come back with authentication -->
<% if ( (typeof message != "undefined") && message && message.length > 0) { %>
	<div class="alert alert-danger"><%= message %></div>
<% } %>