.smooth {
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

body {
	padding-top: 10px;
	word-wrap: break-word;
}

#wip {
	font-family: "pf_dintext_proregular", Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
	transform-origin: 0% 0%;
	background-color: black;
	color: yellow;
	width: 300px;
	height: 50px;
	text-align: center;
	position: fixed;
	z-index: 10;
	right: -125px;
	bottom: -90px;
	pointer-events: none;
	opacity: 0.1;
}

#wip>h1 {
	width: 50%;
	margin: auto;
	padding: 0;
	font-size: 20px;
}

#ifb {
	position: fixed;
	width: 0px;
	height: 278px;
	left: 0px;
	bottom: 0px;
	z-index: 10;
	background: grey;
}

#ifb-container {
	overflow: hidden;
}

#ifb>.title {
	font-family: "pf_dintext_proregular", Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transform-origin: 100% 0%;
	background-color: black;
	color: yellow;
	text-align: center;
	position: absolute;
	z-index: 10;
	right: 0;
}

#ifb.expand {
	max-width: 90%;
	width: 720px;
}

#ifbmsg {
	resize: none;
}

#map {
	height: 400px;
	width: 100%;
	border-radius: 6px;
}

.vertical-spacing {
	margin-top: 5px;
	margin-bottom: 5px;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

#map {
	min-height: 400px;
}

#floating-panel {
	position: absolute;
	top: 10px;
	left: 25%;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
	text-align: center;
	font-family: 'Roboto', 'sans-serif';
	line-height: 30px;
	padding-left: 10px;
}

#qrcode {
	text-align: center;
}


}
